.row.mb-2.py-2.bg-white.border-bottom {
    margin: 0px -1px;
}

.dd-button.btn.btn-info.dropdown-toggle.border {
    background: #747474;
    color: #fff;
    padding: 9px 22px;
    border: none;
    font-size: 14px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px !important;
}