#mytable_paginate {
    display: none;
  }
  
  .tablepagination {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  .tablepagination .pagination-s1{

    position: relative;
  }
  .pagination {
    padding: 0 10px 0 10px;
  }
  
  .pagination .viousIcons {
    padding: 0 15px;
  }
  .buttons_btn a {
    margin-right: 12px !important;
}
.mr-20 {
  margin-right: 10px;
}
  .editIconsSolid {
    padding: 10px 0 0 0;
    position: absolute;
    right: 65px;
    color: grey;
  }
  .form-control option{ padding: 2px;}